#olive{
    color: #69ba78;
    font-family: Comic sans ms; 
    text-align: center;
}
#sud{
    text-align: center;
    color: aqua;
}
#veryGud{
    text-align: center;
    color:rgb(74, 8, 87);
    font-family: Comic sans ms;
}
#yay{
   text-align : center;
   color:darkblue;
}
#submit{
    text-align: center;

}
.img{
    text-align: center;
}